*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

#app2{
    margin-top: 15px;
    padding: 15px;

    > div{
        padding: 15px;
        border: 1px solid gray;
        border-radius: 10px;
        margin: 5px;
        width: fit-content;
    }
}

#app3{
    margin: 15px;
    padding: 15px;

    button{
        padding: 5px 15px;
    }

    > div{
        width: 300px;
        height: 200px;
        border: 1px solid gray;
        border-radius: 5px;

        &:nth-of-type(1){
            background-color: lightblue;
        }
        &:nth-of-type(2){
            background-color: lightcoral;
        }
        &:nth-of-type(3){
            background-color: lightseagreen;
        }
    }
}